.homepage-body-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  background: linear-gradient(rgba(82, 184, 198), rgba(255, 255, 255));
}

.posts-list {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
