.post-detail {
  margin-left: 20vw;
  margin-right: 20vw;
  min-height: 100vh;
}

.content {
  text-align: left;
  white-space: pre-line;
}

.post-detail-title {
  font-size: 30px;
}

.post-detail-destination {
  font-size: 30px;
  text-align: left;
}

.each-comment {
  display: flex;
  text-align: left;
  font-size: 16px;
  height: 24px;
}

.comment-content {
  text-indent: 10px;
}
p,
form,
label,
textarea,
button {
  outline: none;
}
.username {
  font-weight: bold;
}

.all-comments {
  border-top: 1px solid lightgray;
  margin-top: 40px;
}
