.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  height: 300px;
  width: 300px;

  margin-top: -70vh;
  padding: 30px;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.modal-button {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: rgb(22, 103, 103);
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.modal-button:hover {
  background-color: rgb(13, 154, 154);
  outline: none;
}

.modal-button:visited {
  color: white;
  outline: none;
}
