.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.left-side,
.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  color: black;
}

.logo:hover {
  color: rgb(22, 103, 103);
}

.button {
  margin-left: 20px;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: #4d3b36;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(13, 154, 154);
  outline: none;
}

.button:visited {
  color: white;
  outline: none;
}

.button-text {
  color: white;
}

@media screen and (max-width: 610px) {
  .logo {
    font-family: "Tangerine", cursive;
    font-size: 1px;
    color: white;
  }
}
