.post-preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45vw;
  height: 20vh;
  margin-bottom: 4vh;
  background-color: rgba(16, 60, 23, 0.721);
  color: white;
  justify-content: space-around;
}

.post-preview:hover {
  box-shadow: 6px 6px #edc951cb;
}

.title {
  font-size: 24px;
}
.destination {
  font-size: 20px;
}

.continue-button {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: #c6565296;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 45vw;
  height: auto;
}

.continue-button:hover {
  background-color: #c65652;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 1100px) {
  .post-preview {
    width: 43vw;
  }
  .continue-button {
    width: 43vw;
    height: auto;
  }
}

@media screen and (max-width: 950px) {
  .post-preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80vw;
  }
  .continue-button {
    width: 80vw;
    height: auto;
  }
}
