.post-preview {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin-bottom: 4vh;
  /* height: auto; */
  background-color: rgba(16, 60, 23, 0.863);
  color: white;
}

.post-preview:hover {
  box-shadow: 6px 6px #edc951cb;
}

.title {
  font-size: 24px;
}
.destination {
  font-size: 20px;
}

.continue-button {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: #c65652;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.continue-button:hover {
  background-color: #edc951;
  color: #c65652;
}

@media screen and (max-width: 950px) {
  .post-preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80vw;
  }
}
